/* Terms of service banner */
.jWeQYG { display: none; }
/* Cookie banner */
.lcpZLv > .gUvyVO { display: none; }
/* SUBtember banner */
.htbASg { display: none; }
/* Prime message count */
.kvGBug { display: none; }
/* Twitch Recap banner, and likely others. */
#twilight-sticky-footer-root { display: none; }
